{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Social Media Management - Manage your connected social media accounts">
<meta name="keywords" content="social media, account management, settings">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Social Media Management - Vivid Sync">
<meta property="og:description" content="Manage your connected social media accounts on Vivid Sync.">
{% endblock %}

{% block title %}
<title>Accounts - Vivid Sync</title>
{% endblock %}

{% block content %}
 
{% endblock %}
{% block footer %}
<!-- Footer content if needed -->
{% endblock %}
