{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Ad Management - Manage your advertising campaigns on Vivid Sync">
<meta name="keywords" content="advertising, campaign management, settings">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Ad Management - Vivid Sync">
<meta property="og:description" content="Manage your advertising campaigns on Vivid Sync.">
{% endblock %}

{% block title %}
<title>Ads - Vivid Sync</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
