{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Analyze the growth of your advertising campaigns on Vivid Sync">
<meta name="keywords" content="advertising, campaign analysis, growth">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Ad Analysis - Vivid Sync">
<meta property="og:description" content="Analyze the growth of your advertising campaigns on Vivid Sync.">
{% endblock %}

{% block title %}
<title>Ads - Vivid Sync</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
