{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Content Creation - Create and manage your content on Vivid Sync">
<meta name="keywords" content="content creation, content management, settings">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Content Creation - Vivid Sync">
<meta property="og:description" content="Create and manage your content on Vivid Sync.">
{% endblock %}

{% block title %}
<title>Content - Vivid Sync</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
