{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Dashboard - manage your account and settings">
<meta name="keywords" content="dashboard, account management, settings">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Dashboard - Vivid Sync">
<meta property="og:description" content="Access your Vivid Sync dashboard to manage your account and settings.">
{% endblock %}

{% block title %}
<title>Dashboard - Vivid Sync</title>
{% endblock %}

{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}

