{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Feed - Stay updated with the latest content on Vivid Sync">
<meta name="keywords" content="feed, updates, content">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Feed - Vivid Sync">
<meta property="og:description" content="Stay updated with the latest content on Vivid Sync.">
{% endblock %}

{% block title %}
<title>Feed - Vivid Sync</title>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
