{% extends "../base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="Inbox - Manage your messages on Vivid Sync">
<meta name="keywords" content="inbox, messages, communication">
<meta name="author" content="Vivid Sync">

<!-- Open Graph meta tags -->
<meta property="og:title" content="Inbox - Vivid Sync">
<meta property="og:description" content="Manage your messages on Vivid Sync.">
{% endblock %}

{% block title %}
<title>Inbox - Vivid Sync</title>
{% endblock %}

{% block content %}
<!-- Add content related to the inbox here -->
{% endblock %}

{% block footer %}
{% endblock %}
