@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
  background-color: #FFF2EF; /* Light mode background */
  color: #32456F; /* Light mode background */
}
.dark {
  color:#FFF2EF;
  background-color: #32456F; /* Dark mode background */
}