{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Signup to Vivid Sync - Signup to your account now">
    <meta name="keywords" content="login, authentication, user login, account">
    <meta name="author" content="Ayoub Achak">

    <!-- Add Open Graph meta tags for better sharing on social media -->
    <meta property="og:title" content="Signup - Vivid Sync">
    <meta property="og:description" content="Signup or Signup to Vivid Sync today">
    <!-- <meta property="og:image" content="{% static 'path/to/your/image.jpg' %}"> -->
    <!-- <meta property="og:url" content="https://www.yourwebsite.com/login"> -->

    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}">
</head>
    <link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}"> 
</head>
<body>
    <h1>
        This is the Signup Form
    </h1>
    <!-- This is the react Signup form  -->
    <div id="root"></div>
    <script type="module" src="{% static 'frontend/assets/main.js' %}"></script> 
</body>
</html>
