{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read and accept the Terms of Service for Vivid Sync to continue using our services">
    <meta name="keywords" content="terms of service, privacy policy, user agreement">
    <meta name="author" content="Vivid Sync">
    
    <!-- Open Graph meta tags for better social media sharing -->
    <meta property="og:title" content="Terms of Service - Vivid Sync">
    <meta property="og:description" content="Read and accept the Terms of Service for Vivid Sync.">
    <!-- Replace with your actual image path -->
    <!-- <meta property="og:image" content="{% static 'path/to/your/image.jpg' %}"> -->
    <!-- Replace with your actual URL -->
    <!-- <meta property="og:url" content="https://www.vividsync.com/terms-of-service"> -->

    <title>Terms of Service - Vivid Sync</title>
    <link rel="icon" type="image/png" href="{% static 'frontend/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'frontend/assets/index.css' %}">
</head>
<body class="light">

    <header class="border-b border-gray-200 light">
        <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
            <!-- Logo -->
            <a href="/" class="pl-35px">
                <img class="w-[64px] h-[64px]" src="{% static 'frontend/logo.png' %}" alt="Project Logo">
            </a>
        </nav>
    </header>
    
    <div id="root" class="w-full md:w-1/2 light">
        <!-- Here will be mounted the SignUp React component -->
    </div>

    <footer class="text-center py-4 text-gray-600">
        &copy; 2023 Vivid Sync. All rights reserved.
    </footer>

    <script type="module" src="{% static 'frontend/assets/main.js' %}"></script>
    

</body>
</html>
