<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vivid Sync{% endblock title %}</title>
    <link href="{% static 'frontend/assets/index.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'frontend/logo.png' %}" />
</head>
<body class="light">
    <!-- Header / Nav -->
    <header class="border-b border-gray-200 light" >
        <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
            <!-- Logo -->
            <a href="/" class="pl-35px">
                <img class="w-[64px] h-[64px]" width="64px" height="64px" src="{% static 'frontend/logo.png' %}" alt="Project Logo">
            </a>
            
            <!-- Menu for large screens -->
            <div class="hidden md:flex space-x-6">
                <div class="group relative">
                    <a href="{% url 'tools_page' %}" class="hover:text-gray-500 text-center text-slate-700 text-[24px] font-bold ">Tools</a>
                    <div class="absolute hidden group-hover:block light shadow-lg">
                        <!-- Submenu items here with icons -->
                    </div>
                </div>
                <a href="{% url 'pricing_page' %}" class="hover:text-gray-500 text-center text-slate-700 text-[24px] font-bold ">Pricing</a>
                <a href="{% url 'about_page' %}" class="hover:text-gray-500 text-center text-slate-700 text-[24px] font-bold ">About</a>
            </div>

            <!-- Right side links -->
            <div class="hidden md:flex items-center space-x-3">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="underline hover:text-gray-500 text-center text-slate-700 text-[24px] font-bold">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="underline hover:text-gray-500 text-center text-slate-700 text-[24px] font-bold ">Login</a>
                    <a href="{% url 'signup' %}" class="dark hover:bg-blue-700 text-white py-2 px-4 rounded text-center text-slate-700 text-[24px] font-bold">Sign Up</a>
                {% endif %}
            </div>

            <!-- Hamburger Icon for small screens -->
            <button class="md:hidden">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <!-- Icon SVG path here -->
                </svg>
            </button>
        </nav>
    </header>
    <div class="content flex-col light">
        <!-- Main Content -->
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-white py-8 light">
        <div class="container mx-auto text-center">
            <p>&copy; {{ current_year }} Vivid Sync. All rights reserved</p>
        </div>
    </footer>

    {% block extra_js %}
    <!-- Additional JavaScript files can be included here -->
    {% endblock extra_js %}
</body>
</html>
